<div class="form create-student content">
  <form>
    <div class="input-container ic1">
      <input class="input" type="number" id="num" placeholder=" " required>
      <div class="cut"></div>
      <label for="num" class="placeholder">Student Number</label>
    </div>
    <div class="input-container ic1">
      <input class="input" type="text" id="name" placeholder=" " required>
      <div class="cut"></div>
      <label for="name" class="placeholder">Student Name</label>
    </div>
    <div class="input-container ic1">
      <input class="input" type="text" id="email" placeholder=" " required>
      <div class="cut"></div>
      <label for="email" class="placeholder">Student email</label>
    </div>
    <div class="input-container ic1">
      <select  class="input" id="sType" name="sType" placeholder=" " required>
        <div class="cut"></div>
        <label for="sType" class="placeholder">Choose Student Type</label>
        <option value="yoga" selected>Yoga</option>
        <option value="work">Work</option>
        <option value="charity">Charity</option>
        <option value="course">Course</option>
        <option value="court">Court</option>
        <option value="doctor">Doctor</option>
        <option value="holiday">Holiday</option>
        <option value="kids">Kids</option>
        <option value="sick">Charity</option>
      </select>
    </div>
    <div class="input-container ic1">
      <input class="input" type="tel" id="phone" name="phone" placeholder="" required/>
      <div class="cut"></div>
      <label for="phone" class="placeholder">Phone</label>
    </div>
    <div class="input-container ic1">
      <select class="input" id="package" name="package"  placeholder="" required>
        <div class="cut"></div>
        <label for="package" class="placeholder">Package</label>
        <option value="1">one off</option>
        <option value="8">8 per month</option>
        <option value="12" selected>12 per month</option>
        <option value="16">16 per month</option>
        <option value="20">20 per month</option>
      </select>
    </div>
    <div class="input-checkbox ic1">
      <label for="wk" class="checkbox-label">Days of Week</label>
      <div>
        <div>
          <label for="mon" class="checkbox-label"> Monday</label>
          <input type="checkbox" id="mon" name="mon" value="1">
        </div>
        <div>
          <label for="tue" class="checkbox-label"> Tuesday</label>
          <input type="checkbox" id="tue" name="tue" value="2">
        </div>
        <div>
          <label for="wed" class="checkbox-label"> Wednesday</label>
          <input type="checkbox" id="wed" name="wed" value="3">
        </div>
        <div>
          <label for="thu" class="checkbox-label"> Thursday</label>
          <input type="checkbox" id="thu" name="thu" value="4">
        </div>
        <div>
          <label for="fri" class="checkbox-label"> Friday</label>
          <input type="checkbox" id="fri" name="fri" value="5">
        </div>
        <div>
          <label for="sat" class="checkbox-label"> Saturday</label>
          <input type="checkbox" id="sat" name="sat" value="6"">
        </div>
        <div>
          <label for="sun" class="checkbox-label"> Sunday</label>
          <input type="checkbox" id="sun" name="sun" value="7">
        </div>
      </div>
    </div>
    <div class="input-container ic1">
      <input class="input" type="number" id="colour" name="colour" placeholder="" required/>
      <div class="cut"></div>
      <label for="colour" class="placeholder">Student Colour</label>
    </div>
    <div class="input-container ic1">
      <input class="input" type="number" id = "startYr" name="startYr" placeholder="" required/>
      <div class="cut"></div>
      <label for="startYr" class="placeholder">Start Year</label>
    </div>
    <div class="input-container ic1">
      <input class="input" type="number" id="startMth" name="startMth" placeholder="" required/>
      <div class="cut"></div>
      <label for="startMth" class="placeholder">Start Month</label>
    </div>
    <div class="input-container ic1">
      <input class="input" type="number" id="startDay" name="startDay" placeholder="" required/>
      <div class="cut"></div>
      <label for="startDay" class="placeholder">Start Day</label>
    </div>
    <div class="input-container ic1">
      <input class="input" type="text" id="birthday" name="birthday" placeholder="s" required/>
      <div class="cut"></div>
      <label for="birthday" class="placeholder">Birthday Notes</label>
    </div>
    <div class="input-container ic1">
      <input class="input" type="number" id="classesNishCancelled" name="classesNishCancelled"  placeholder="" value="0" required/>
      <div class="cut"></div>
      <label for="classesNishCancelled" class="placeholder">Classes Nish Cancelled</label>
    </div>
    <div class="input-container ic1">
      <input class="input" type="file" id="studentImageFileName" name="studentImageFileName" />
      <div class="cut"></div>
      <label for="studentImageFileName" class="placeholder">Select Image</label>
    </div>
    <button type="text" class="submit">Submit</button>
  </form>
</div>