<nav>
  <div class="site-title">
    <a href="/">Yoga Scheduler</a>
    <p>A Yoga Site</p>
  </div>
  <ul>
    <li><a href="/">Home Page</a></li>
    <li><a href="/about">About Page</a></li>
    <li><a href="/students">Students</a></li>
    <li><a href="/stuclasses">Classes</a></li>
    <li><a href="/student-create">New Student</a></li>
  </ul>
</nav>