<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>  

  <div class="about content">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quisquam tempora exercitationem iure nulla recusandae, inventore, animi eaque, vitae ea dolorum sunt odio! Explicabo corrupti iusto doloremque, adipisci autem cumque.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quisquam tempora exercitationem iure nulla recusandae, inventore, animi eaque, vitae ea dolorum sunt odio! Explicabo corrupti iusto doloremque, adipisci autem cumque.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati quisquam tempora exercitationem iure nulla recusandae, inventore, animi eaque, vitae ea dolorum sunt odio! Explicabo corrupti iusto doloremque, adipisci autem cumque.</p>
  </div>
  <%- include('./partials/footer.ejs') %>
</body>
</html>