<html lang="en">
<%- include('./partials/head.ejs') %>

<body>
  <%- include('./partials/nav.ejs') %>

  <%- include('./partials/addForm2.ejs') %>

  <%- include('./partials/footer.ejs') %>
</body>
</html>